<h1>Add Event</h1>

<% if meetup.errors.any? %>
  <%=meetup.errors.full_messages.flatten%>
<%end%>

<form action="/create_meetup" method="post">
  <div>
    <label for="name">Name of Event:</label>
    <input type="text" id="name" name="meetup[name]" value="<%= meetup.name %>">
  </div>

  <div>
    <label for="location">Location:</label>
    <input type="text" id="location" name="meetup[location]" value="<%= meetup.location %>">
  </div>

  <div>
    <label for="description">Description:</label>
    <input type="text" id="description" name="meetup[description]" value="<%= meetup.description %>">
  </div>

  <div>
    <label for="time">Time of Event:</label>
    <input type="datetime" id="time" name="meetup[time]" value="<%=meetup.time%>">
  </div>

  <input type="submit" value="Add Event">
</form>

<a href="/">Back to all shows</a>
